.welkom {
    background-image: url(../img/Meteor.svg);
    height: 100vh;
}

.logo {
    color: #ffb300;   
}

.logo1 {
    color: white   
}

.h1 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 2px #000, 0 0 25px yellow , 0 0 5px #fcd10f;
}

.p1 {
    color: #777;
    margin: 20px 0 70px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000, 0 0 25px #777 , 0 0 5px #777;
}

img {
    width: 55%;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 50px;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
    flex-basis: 40%;

}

img:hover {
    transform: translateY(-8px);

}